* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(57, 49, 133, 0.582), rgb(190, 51, 255));
    background-color: #000;
    
    min-height: 95vh; 
    
}

@media only screen and (min-width: 768px) {
    .main {
        min-width: 95vw;
        margin: 1rem 1rem;
    }
}
