* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
}
a{
    color:#fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #7357A6;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(43, 41, 66, 0.582), rgba(3, 0, 5, 0.26));
    background-color: #000;
}

@media only screen and (min-width: 768px) {
    .main {
        min-width: 95vw;
        margin: 1rem 1rem;
        
    }
}
