.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .photo{
    width: 200px;   
    height: 200px;
    border-radius: 50%;
}
.header .title{
    text-align: center;
}
.info{
    font-size: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.info p{
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.info p::before{
    display: inline-block;
    content:'';
    width: 24px;
    height: 24px;
    padding-right: .75rem;
}
.info .job{
    background-image: url('/assets/images/icons/job.svg');
}
.info .location{
    background-image: url('/assets/images/icons/location.svg');
}
.info .email{
    background-image: url('/assets/images/icons/email.svg');
}
.info .phone{
    background-image: url('/assets/images/icons/phone.svg');
}
