/* Estilos para o cabeçalho */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #7357A6;
    border-radius: 1rem;
    padding-top: 1rem;
}

.header:hover {
    border-color: #fff;
}

.header .photo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #7357A6;
}

.header .title {
    text-align: center;
}

/* Estilos para as informações */
.info {
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

.info p {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) invert(1);
    padding-bottom: 1rem;
}

.info p::before {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    padding-right: 0.75rem;
}

.info .job {
    background-image: url('/assets/assets/images/icons/job.svg');
    background-size: 24px;
}

.info .location {
    background-image: url('/assets/assets/images/icons/location.svg');
    background-size: 24px;
}
.info .email {
    background-image: url('/assets/assets/images/icons/email.svg');
    background-size: 24px;
    font-size: 1rem;
    
    
}



.info .phone {
    background-image: url('/assets/assets/images/icons/phone.svg');
    background-size: 24px;
}

/* Estilos responsivos para telas maiores */
@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo information";
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 200px;
    }

    .info {
        grid-area: information;
    }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .info .email {
        font-size: .7rem;
        width: 100%;
        display: inline-flex;
    }
}